@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');

/* Code for margin, padding and border originally from Code Institute

* {
    margin: 0;
    padding: 0;
    border: none;
} */


html,
body {
    height: 100%;
}

body {
    background-color: cream;
    color: navy;
    font-weight: 400;
    font-family: 'Open Sans', 'Verdana', sans-serif;
}

#heading {
    font-weight: 800;
    font-size: 5rem;
}