@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');

/* General body styling */

html,
body {
    height: 100%;
    position: relative;
    width: 100%;
}

body {
    background-color: #FDFFFC;
    color: #546A7B;
    font-weight: 400;
    font-family: 'Open Sans', 'Verdana', sans-serif;
    overflow-x: hidden;
}

/* Styling for heading */

#heading {
    font-weight: 800;
    font-size: 5rem;
}

/* Styling for text */

.highlight {
    color: #C1292E;
}