{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="recipes, online recipe book">
    <meta name="description" content="online account to save and store recipes">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
        </script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>The Kitchen</title>
</head>

<body>
    <div class="container">
        <header>
            <h1 id="heading"><strong>The Kitchen</strong></h1>
        </header>
    </div>

    <nav>
        {% if user.is_authenticated %}
        <ul>   
            <li>
                You are currently logged in as {{ user }}.
            <br>
            </li>             
            <li>
                <a href="{% url 'account_logout' %}">Logout</a>
            </li>
            {% else %}
            <li>
                    <a href="{% url 'account_login' %}">Login</a>
            </li>
            <li>
                    <a href="{% url 'account_signup' %}">Register</a>
            </li>
            {% endif %}
      </ul>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">X</button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% block content %}

    <!-- Content goes here  -->

    {% endblock content %} 

    <!-- JavaScript Code for messages copied from the Code Institute Django Blog Project -->

    <script>
        setTimeout(function () {
            let messages = document.getElementById('msg');
            let alert = new bootstrap.Alert(messages);
            alert.close();
        }, 4000);
    </script>
</body>

</html>