{% extends "base.html" %}

{% block content %}

<!-- Code for edit recipe taken from Code Instittue ToDo App project -->

<div class="container">
    <h1>Edit Recipe</h1>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <p>
                <button type="submit" class="btn btn-success">Finished</button>
                <!-- <button class="btn btn-warning" onclick="document.location='index.html'">
                    <strong>Return Home</strong>
                </button> -->
            </p>
        </div>
    </form>
</div>

{% endblock content %}