{% extends "base.html" %}

{% block content %}

<div>
    {% for item in object_list %}
    <br>
    {{ item.title}} by {{ item.author }}
    <br>
    {{ item.created_on }}
    <br>
    {{ item.description }}
    <br>
    {{ item.ingredients }}
    <br>
    {{ item.instructions }}
    <br>
    {{ item.image }}
    <br>
    {{ item.cuisine }}
    <br>
    {{ item.meal }}
    <br>
    {% if user.is_authenticated %}

    <a href="/edit/{{ recipe.id }}">
        <button>Edit Recipe</button>
    </a>
    <br>
    <a href="/delete/{{ recipe.id }}">
        <button>Delete Recipe</button>
    </a>

    {% endif %}

    {% endfor %}

    <br>

    {% if user.is_authenticated %}

    <a href="/add">
        <button>Add new recipe</button>
    </a>
    {% endif %}
</div>



{% endblock content %}