{% extends "base.html" %}

{% block content %}

<div class="container">

    <!-- authenticated users can add new recipes -->
    {% if user.is_authenticated %}
    <div class="row">
        <div class="col-12">
            <a href="{% url 'add' %}" class="btn btn-success">
                <strong>Add new recipe</strong>
            </a>
        </div>
    </div>
    {% endif %}

    <!-- loop through each recipe -->
    <div class="row">
        {% for recipe in object_list %}
        <div class="col-12 col-md-6 col-lg-4 mb-5 card pb-3">
            <br>
            <strong class="highlight">{{ recipe.title }}</strong> by {{ recipe.author }}
            <br>
            {% if recipe.cuisine != None %}
                {{ recipe.cuisine }}
            {% endif %}
            {% if recipe.meal != None %}
                {{ recipe.meal }}
            {% endif %}
            <br>
            <br>
            <em>{{ recipe.description }}</em>
            <hr>
            <strong>Ingredients:</strong>
            {{ recipe.ingredients|linebreaksbr }} 
            <br>
            <br>
            <strong>Instructions:</strong> 
            {{ recipe.instructions|linebreaksbr }}
            <br>
            <br>
            Posted on: {{ recipe.created_on }}
            <br>
            {% if request.user == recipe.author %}
            <a href="{% url 'edit' recipe.id %}" class="btn btn-warning">
                <strong>Edit Recipe</strong>
            </a>
            <br>
            <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-delete-{{ recipe.id }}">
                <strong>Delete Recipe</strong>
            </a>
            <!-- Modal -->
            <div class="modal fade" id="modal-delete-{{ recipe.id }}" tabindex="-1" aria-labelledby="modal-delete-label-{{ recipe.id }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal-delete-label{{ recipe.id }}">Delete Recipe</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete this recipe?
                            <br>
                            <small>This action cannot be undone.</small>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                            <a href="{% url 'delete' recipe.id %}" class="btn btn-primary">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}