{% extends "base.html" %}

{% block content %}

<div class="container">

    <!-- authenticated users can add new recipes -->
    {% if user.is_authenticated %}
    <div class="row">
        <div class="col-12">
            <a href="/add" class="btn btn-success">
                Add new recipe
            </a>
        </div>
    </div>
    {% endif %}

    <!-- loop through each recipe -->
    <div class="row">
        {% for recipe in object_list %}
        <div class="col-12 col-md-6 col-lg-4">
            <br>
            {{ recipe.title }} by {{ recipe.author }}
            <br>
            Posted on: {{ recipe.created_on }}
            <br>
            <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" class="img-fluid">
            <em>{{ recipe.description }}</em>
            <br>
            <strong>Ingredients:</strong> {{ recipe.ingredients }}
            <br>
            <strong>Instructions:</strong> {{ recipe.instructions }}
            <br>
            {{ recipe.cuisine }}
            <br>
            {{ recipe.meal }}
            <br>
            {% if request.user == recipe.author %}
            <a href="{% url 'edit' recipe.id %}" class="btn btn-warning">
                Edit Recipe
            </a>
            <br>
            <a href="{% url 'delete' recipe.id %}" class="btn btn-danger">
                Delete Recipe
            </a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}